[submodule "python_runtime"]
	path = python_runtime
	url = https://github.com/pyrite-project/pyrite-ide-python-runtime
[submodule "flserial"]
	path = flserial
	url = https://github.com/pyrite-project/flserial
