[submodule "python_runtime"]
	path = python_runtime
	url = https://github.com/pyrite-project/pyrite-ide-python-runtime
[submodule "flserial"]
	path = flserial
	url = https://github.com/pyrite-project/flserial
[submodule "super_tree"]
	path = super_tree
	url = https://github.com/pyrite-project/super_tree
[submodule "xterm.dart"]
	path = xterm.dart
	url = https://github.com/pyrite-project/xterm.dart.git
[submodule "flutter_pty"]
	path = flutter_pty
	url = https://github.com/pyrite-project/flutter_pty.git
